.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

