<table tuiTable>
    <thead>
    <tr>
        @for (col of headers; track col.key) {
            <th
                    tuiTh
                    [sorter]="null"
                    (click)="onHeaderClick(col.key)"
                    class="sortable"
            >
                {{ col.labelKey | transloco }}
                <span class="sort-indicator">
                    @if (sortBy() === col.key) {
                        {{ sortDirection() === 'asc' ? '▲' : '▼' }}
                    } @else {
                        <span class="sort-arrows">▲▼</span>
                    }
                </span>
            </th>
        }
    </tr>
    </thead>

    <tbody tuiTbody>
        @for (item of paginatedData; track item.code) {
            <tr
                    [routerLink]="clickable ? ['/share', item.code] : null"
                    [class.clickable]="clickable"
            >
                @for (col of headers; track col.key) {
                    <td tuiTd>
                        @switch (col.key) {
                            @case ('changePercents') {
                                <span [style.color]="item.changePercents >= 0 ? 'green' : 'red'">
                  {{ item.changePercents | number:'1.2-2' }}%
                </span>
                            }

                            @case ('first') {
                                {{ item.first | number:'1.2-2' }}
                            }

                            @case ('last') {
                                {{ item.last | number:'1.2-2' }}
                            }

                            @case ('min') {
                                {{ item.min | number:'1.2-2' }}
                            }

                            @case ('max') {
                                {{ item.max | number:'1.2-2' }}
                            }

                            @case ('volume') {
                                {{ item.volume | number }}
                            }

                            @default {
                                {{ item[col.key] }}
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@if (data.length > itemsPerPage) {
    <div class="pagination">
        <div class="pagination-info">
            {{ 'shareTable.pages' | transloco }}
            <span class="pagination-total">{{ totalPages }}</span>
        </div>

        <tui-pagination
            class="pagination-controls"
            [length]="totalPages"
            [(index)]="pageIndex"
        />
    </div>
}
