.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sub-nav {
  margin: 0.5rem 1rem 0;
  border-top: 1px solid var(--tui-border-normal);
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: var(--tui-text-primary);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    transition: background 0.2s;

    &:hover {
      background: var(--tui-background-hover);
    }

    &.active {
      color: var(--tui-text-primary);
      text-decoration: underline;
      text-underline-offset: 7px;
      text-decoration-thickness: 2px;
    }
  }
}
