@if (headers$ | async; as headers) {
  <table tuiTable>
    <thead>
    <tr>
      @for (col of headers; track col.key) {
        <th
          tuiTh
          class="sortable-header"
          (click)="sortBy(col.key)"
        >
          {{ col.label }}
          <span class="sort-indicator">
            @if (sortColumn === col.key) {
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            } @else {
              <span class="sort-placeholder">⇅</span>
            }
          </span>
        </th>
      }
    </tr>
    </thead>
    <tbody tuiTbody>
      @for (item of sortedAndPaginatedData; track item.code) {
        <tr
          [routerLink]="clickable ? ['/share', item.code] : null"
          [class.clickable]="clickable"
        >
          @for (col of headers; track col.key) {
            <td tuiTd>
              <ng-container [ngSwitch]="col.key">
                <ng-container *ngSwitchCase="'changePercents'">
                  <span [style.color]="(item.changePercents ?? 0) >= 0 ? 'green' : 'red'">
                    {{ (item.changePercents ?? 0) | number:'1.2-2' }}%
                  </span>
                </ng-container>
                <ng-container *ngSwitchCase="'first'">
                  {{ item.first | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'last'">
                  {{ item.last | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'min'">
                  {{ item.min | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'max'">
                  {{ item.max | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'volume'">
                  {{ item.volume | number }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ item[col.key] }}
                </ng-container>
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  @if (data.length > itemsPerPage) {
    @if (data.length > itemsPerPage) {
      @if (paginationLabels$ | async; as labels) {
        <div class="pagination">
          <div class="pagination-info">
            {{ labels.pages }} {{ totalPages }}
          </div>
          <div class="pagination-navigation">
            <button
              class="pagination-arrow"
              (click)="previousPage()"
              [disabled]="currentPage === 1"
            >
              ‹
            </button>
            <span class="current-page">
          {{ currentPage }}
        </span>
            <button
              class="pagination-arrow"
              (click)="nextPage()"
              [disabled]="currentPage === totalPages"
            >
              ›
            </button>
          </div>
        </div>
      }
    }
  }
}
