table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: none;
  background-color: transparent;
}

td {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:last-child td {
  border-bottom: none;
}

th, td {
  padding: 12px 8px;
  text-align: left;
}
