@if (headers$ | async; as headers) {
  <table tuiTable>
    <thead>
    <tr>
      @for (col of headers; track col.key) {
        <th
          tuiTh
          class="sortable-header"
          (click)="sortBy(col.key)"
        >
          {{ col.label }}
          <span class="sort-indicator">
            @if (sortColumn === col.key) {
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            } @else {
              <span class="sort-placeholder">⇅</span>
            }
          </span>
        </th>
      }
    </tr>
    </thead>
    <tbody tuiTbody>
    <!-- ИСПОЛЬЗУЕМ sortedAndPaginatedData -->
      @for (item of sortedAndPaginatedData; track item.code) {
        <tr
          [routerLink]="clickable ? ['/share', item.code] : null"
          [class.clickable]="clickable"
        >
          @for (col of headers; track col.key) {
            <td tuiTd>
              <ng-container [ngSwitch]="col.key">
                <ng-container *ngSwitchCase="'changePercents'">
                  <span [style.color]="(item.changePercents ?? 0) >= 0 ? 'green' : 'red'">
                    {{ (item.changePercents ?? 0) | number:'1.2-2' }}%
                  </span>
                </ng-container>
                <ng-container *ngSwitchCase="'first'">
                  {{ item.first | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'last'">
                  {{ item.last | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'min'">
                  {{ item.min | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'max'">
                  {{ item.max | number:'1.2-2' }}
                </ng-container>
                <ng-container *ngSwitchCase="'volume'">
                  {{ item.volume | number }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ item[col.key] }}
                </ng-container>
              </ng-container>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <!-- Пагинация -->
  @if (data.length > itemsPerPage) {
    <div class="pagination-controls">
      <button
        class="pagination-btn"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
        [class.disabled]="currentPage === 1"
      >
        ← Назад
      </button>

      <span class="page-info">
        Страница {{ currentPage }} из {{ totalPages }}
      </span>

      <button
        class="pagination-btn"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
        [class.disabled]="currentPage === totalPages"
      >
        Вперед →
      </button>
    </div>
  }
}
